.item-custom {
  position: relative;
  padding: 10px !important;
  border-radius: 5px !important;
}

.item-custom::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
}

.item-custom:hover,
.item-custom:focus {
  cursor: pointer;
  background-color: #ededed !important;
}

.item-custom:focus {
  outline: none;
}
